*{
    margin: 0;
    padding: 0;
}
.Menu
{
    display:flex;
    flex-direction: column;
    justify-content: left;
    
    margin: 3px;   
}
.Sub-menu
{
    margin-top:5px;
    
}
.Button
{
    margin-top: 5px;
}
.label
{
    width:110px;
    display: inline-block;
    margin-right: 3px;

}
.Res{
    margin-left: 5px;
}
.Result
{
    display: flex;
    flex-direction:column;
    margin-left: 5px;
}